# Variables used for all hosts that are part of the "textbox" (vagrant) group

# --- users and groups

genericusers_groups:
    - name: "admin"
    - name: "vagrant"

# Used by Ansibles.generics-users

genericusers_users:
  - name: vagrant
    pass: satrF5fwANvrQ
    comment: 'vagrant'
    uid: 1000
    shell: /bin/bash
    groups:
    - vagrant
    - admin
    append: no
    ssh_keys:
      - "{{ lookup('file', '~/.ssh/id_rsa.pub') }}"
  - name: sloria
    pass: satrF5fwANvrQ
    comment: 'vagrant'
    uid: 2000
    shell: /bin/bash
    groups:
    - vagrant
    - admin
    append: no
    ssh_keys:
      - "{{ lookup('file', '~/.ssh/id_rsa.pub') }}"

# --- csf
csf_allowed_ips:
csf_lf_alert_to: ""
csf_lf_alert_from: ""

csf_lf_sshd_perm: 30

# --- rkhunter

# Email address to receive rkhunter warnings, "" for no emails
rkhunter_mail_on_warnings: ""

# Once rkhunter has been installed and updated the first time, set this to "no"
rkhunter_propupd: yes
rkhunter_update: yes
rkhunter_update_apt: yes
rkhunter_run_checks: yes
