# Variables used for all hosts that are part of the "textbox" (vagrant) group

# --- users and groups

genericusers_groups:
    - name: "admin"
    - name: "vagrant"

# Used by Ansibles.generics-users

genericusers_users:
  - name: vagrant
    pass: satrF5fwANvrQ
    comment: 'vagrant'
    uid: 1000
    shell: /bin/bash
    groups:
    - vagrant
    - admin
    append: no
    ssh_keys:
      - CHANGEME_SSH_KEY
  - name: CHANGEME_username
    pass: CHANGE_password
    comment: CHANGEME_comment
    uid: 2000
    shell: /bin/bash
    groups:
    - adm
    - sudo
    - admin
    - staff
    append: yes
    # Set your key here
    # You can use a file like so:
    # "{{ lookup('file', '/Users/you/.ssh/id_rsa.pub') }}"
    ssh_keys:
      - CHANGEME_SSH_KEY


# --- csf
csf_allowed_ips:
  - CHANGEME
csf_ui_user: CHANGEME
csf_ui_password: CHANGEME


# --- rkhunter

# Email address to receive rkhunter warnings, "" for no emails
rkhunter_mail_on_warnings: ""
