[uwsgi]
chdir = /opt/apps/osf
module = main:app
socket = {{osf_uwsgi_socket}}
virtualenv = {{osf_virtualenv}}
env = OSF_PRODUCTION=1
processes = {{osf_uwsgi_processes}}
threads = {{osf_uwsgi_threads}}
harakiri = {{osf_uwsgi_harakiri}}
cpu-affinity = 1
buffer-size = {{osf_uwsgi_buffersize}}
show-config
