server {
    listen   80;
    server_name  192.168.33.10;

    access_log  {{nginx_log_dir}}/access.log;

    location / {
        root   /srv/www/default;
        index  index.html index.htm;
    }
}
