- name: Install lxml dependencies
  apt: "pkg={{ item }} state=present"
  sudo: yes
  with_items:
  - libxml2
  - libxml2-dev
  - libxslt1-dev
  - lib32z1-dev
  - libssl-dev
  - zlib1g-dev

- name: install lxml
  pip: name=lxml virtualenv={{lxml_virtualenv}}
  environment:
    CFLAGS: "-O0"
